/* src/components/TaskList.css */
ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(184, 93, 93, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  p {
    margin: 10px 0;
    color: red;
  }
  